{{#ifContains options 'typescript'}}
<template>
	<p>Hello from {{name}}</p>
</template>

<script lang="ts">
import Vue from 'vue';
{{#ifContains options 'nuxt'}}
import Component from 'nuxt-class-component';
{{else}}
import Component from 'vue-class-component';
{{/ifContains}}
{{#ifContains options 'store'}}
import {
  State,
  Getter,
  Action,
  Mutation,
  namespace
} from 'vuex-class';
{{/ifContains}}

@Component({})
export default class {{name}} extends Vue {
    foo = 'bar';
    created() {}
    mounted() {}
}
</script>

<style lang="scss">
</style>
{{else}}
<template>
	<p>Hello from {{name}}</p>
</template>

<script>
export default {
    name: '{{name}}',
	components: {},
    created() {},
    mounted() {},
    data() {
        return {
            foo: 'bar'
        };
    }
}
</script>

<style lang="scss">
</style>
{{/ifContains}}